@import "compass/css3";
/* * These hover-margin's don't work for some reason * 0 - $spacing - $border * ($spacing + $border) * -1 */
 

body {
	 background-color: #20826c;
}
 nav {
	 position: absolute;
	 top: 50%;
	 left: 50%;

}
 nav li {
     list-style-type: none; ;
	 float: left;
	 font-size: 2em;
	 margin-right: 40px;
	 line-height: 80px;
	 position: relative;
	 text-align: center;
}
 nav li a {
	 background-color: #20826c;
	 color: #ffffff;
	 display: inline-block;
	 height: 80px;
	 position: relative;
	 text-decoration: none;
	 width: 80px;
     border-radius: 50%;
     transition-duration: 500ms;
     transition-property: all;
}
 nav li a i {
	 position: relative;
	 z-index: 1;
}
 nav li a .inner {
	 background-color: #fcfcfc;
	 display: inline-block;
	 height: 0;
	 left: 50%;
	 margin: 0;
	 position: absolute;
	 top: 50%;
	 width: 0;
     transition-duration: 500ms;
     transition-property: all;
     border-radius: 50%;
}
 nav li a:hover {
	 color: #20826c;

}
 nav li a:hover .inner {
	 height: 82px;
	 margin-left: -41px;
	 margin-top: -41px;
	 width: 82px;
}
 